<div class="admin-dashboard">
    <div class="sidebar">
      <!-- Sidebar content, including logo and navigation links -->
      <div class="logo">
        <img src="/src/app/Images/ragnarLogo.png" alt="Admin Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">User Management</a></li>
        <li><a routerLink="projectmanagement">Project Management</a></li>
        <li><a href="#">Task Management</a></li>
        <li><a href="#">Reports</a></li>
        <!-- Add more navigation links as needed -->
      </ul>
    </div>
  </div>
  